

.container{
    width:15em;
    margin: 0 0.2em;
    float: left;
    position: relative;
}
.container .darkMode  {
  color: white;

}

.container .LightMode .darkMode  {
  color: black;
  
}
  .pic img{
    width: 100%;
  }
  .title{
    font-weight: bold;

    color:rgb(0, 0, 0)
  }
  .channel, .views{
    font-size: small;
    color:#000000;
    margin-bottom: 0.2em;
  }
  
  .views span{
    padding: 0 0.5em;
  }




  .close{
    position: absolute;
    right: 0;
  }


  

  .edit{
    position: absolute;
    right: 3em;
  }

